# Ignore everything inside data/experiment folders
data/experiment/*

# Allow folders inside experiment (so negated files inside can be tracked)
!data/experiment/**/

# Allow specific files
!data/experiment/*/experiment_config.json
!data/experiment/*/summary_per_run.csv
!data/experiment/*/exp_*.log

# Explicitly ignore results and convergence files
data/experiment/*/results/
data/experiment/*/convergence*
