.DS_Store
# Bytecode cache
__pycache__/

# Specific compiled Python files
*.pyc

# Ignore everything inside irp17/code/data/
IRP17/Code/sectoral-decabronisation/Data/*
!IRP17/Code/sectoral-decabronisation/Data/ 

# Output log
nohup.out